/* --- Google Font Import --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* --- CSS Reset & Global Styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #343a40; /* Dark grey text */
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* --- Header & Navigation --- */
.main-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  background-color: #e4eef8;
  padding: 25px 0;
}

.main-nav a {
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #000;
  font-weight: 600;
}

.logo:hover {
  color: #b0ce88;
}

.logo-image {
  width: 25px;
  height: 25px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #000;
  font-weight: 600px;
  border-bottom: 2px solid transparent;
}

.nav-links a:hover {
  color: #b0ce88;
  border-bottom-color: #b0ce88;
}

/* --- Main Section --- */
.hero {
  margin: 20px auto;
  padding: 30px;
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #b0ce88, rgb(155, 199, 243));
  border-radius: 10px;
}

.hero-image img {
  width: 300px;
  object-fit: scale-down;
  background-image: none;
  border: 2px solid #b0ce88;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.hero-info {
  color: #b0ce88;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-info .hero-button {
  text-decoration: none;
  background-color: #b0ce88;
  color: #e4eef8;
  padding: 10px;
  width: max-content;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.hero-info {
  color: #767676;
}

.hero-info a i {
  width: 10px;
}

.hero-info h1 {
  background:#e4eef8;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-button {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;;
}

.hero-info .hero-button:hover {
  background-color: slategray;
  transition: 0.2s ease-in-out;
}